body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 800px;
  padding-left: 80px;
}
h1{
    color: white;

}
.card{
    margin-top: 100px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 80px;
    height: 500px;
    width: 1503px;
    border-radius: 5px;
}
.homed{
    
}
